#   ____  ____   _____
#  / __ \|  _ \ / ____|
# | |  | | |_) | |     ___  _ __ ___
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## FiveM Documentation
## https://aka.cfx.re/server-commands

## QBCore Documentation
## https://docs.qbcore.org

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 8
set steam_webApiKey "none"
sets tags "default, deployer, qbcore, qb-core"

## You MAY edit the following:
sv_licenseKey "cfxk_1RXeg5Baq7cgNDErRDYRE_3ZrH2N"
sv_hostname "Server Test"
sets sv_projectName "[QBCore Framework] Server Test"
sets sv_projectDesc "UPD"
sets locale "vi-VN"
load_server_icon myLogo.png
set sv_enforceGameBuild 2699
set mysql_connection_string "mysql://root@localhost/QBCoreFramework_042FAF?charset=utf8mb4"

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

# QBCore locale config
setr qb_locale "en"

# QBCore UseTarget
setr UseTarget true

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# QBCore & Extra stuff
ensure qb-core
ensure [qb]
ensure [standalone]
ensure [voice]
ensure [defaultmaps]
ensure [police]
ensure [mods]
ensure [map]
ensure [clothes]

## Permissions ##
add_ace group.admin command allow # allow all commands
add_principal identifier.fivem:4785288 group.admin #vanthien2704
add_principal identifier.license:2a22488d91c0c6faf5806ededd72cf9fd900fa77 group.admin #vanthien2704

# Resources
add_ace resource.qb-core command allow # Allow qb-core to execute commands

# Gods
add_ace qbcore.god command allow # Allow all commands

# Inheritance
add_principal qbcore.god group.admin # Allow gods access to the main admin group used to get all default permissions
add_principal qbcore.god qbcore.admin # Allow gods access to admin commands
add_principal qbcore.admin qbcore.mod # Allow admins access to mod commands

add_ace resource.codem-marketv2 command allow
add_ace resource.codem-marketv2 command allow
add_ace resource.codem-marketv2 command allow