@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: 'Kanit', sans-serif;
  display: none;
}

.containner {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  opacity: 0.9;
}

.hud {
  position: absolute;
  display: flex;
  width: 500px;
  height: 200px;
  overflow: hidden;
  right: 1%;
  bottom: 3%;
  /* transform: scale(1) skew(20deg ,2deg); */
  /* transform: scale(1.05) skew(-10deg ,-3deg); */
}

.carebear {
  position: absolute;
  top: 43%;
  left: 10%;
  width: 250px;
  height: 30px;
  font-family: Kanit;
  font-size: 12px;
  /* background-image: url(https://media.discordapp.net/attachments/1140258048636620832/1140629309783031969/candy_world.png?width=670&height=670); */
  background-size: 100%;
  z-index: 5555;
}

.mainhud {
  position: absolute;
  width: 400px;
  height: 70px;
  right: 10%;
  bottom: 8%;
  background: #242424;
  border-bottom-left-radius: 10px;
}

.mainstamina {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0%;
  bottom: 0%;
  background-color: #242424;
  border-radius: 50%;
}

.healthicon {
  position: absolute;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  right: 6%;
  bottom: 10.4%;
  background-color: #36353a;
  color: white;
  font-size: 13px;
  border-radius: 50%;
}

.health {
  position: absolute;
  width: 150px;
  height: 30px;
  transform: translate(-50%, -50%);
  top: 70%;
  right: 5%;
  background-color: #242424;
  border-radius: 5px;
}

#health {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  right: 0;
  background-color: #F06292;
  z-index: -1;
  border-radius: 5px;
}

.idbox {
  position: absolute;
  top: 51%;
  right: 12%;
  padding: 2px 20px 2px 6px;
  color: aliceblue;
  font-family: Kanit;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  background-color: #242424;
  border-top-left-radius: 10px;
}

.text {
  position: absolute;
  width: 60px;
  height: 20px;
}

.health label {
  font-family: Kanit;
  color: #fff;
  font-size: 20px;
  margin-left: 4%;
  z-index: 99;
}

.health label span:first-child {
  margin-left: 6px;
}

.health label span:last-child {
  color: rgb(255, 255, 255);
}

.armoricon {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 22px;
  right: 19%;
  bottom: 10.4%;
  background-color: #36353a;
  color: #fff;
  font-size: 10px;
  border-radius: 50%;
}

.armorbox {
  position: absolute;
  width: 130px;
  height: 13px;
  background-color: #36353a;
  transform: translate(-50%, -50%);
  bottom: 9%;
  right: 11%;
  border-radius: 4px;
}

#armor {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  right: 0;
  background: #85e8ff;
  border-radius: 4px;
  filter: drop-shadow(0 0 0.25rem #fff);
  /* filter: drop-shadow(0 0 0.25rem #ffffff); */
}

.main {
  position: relative;
  width: 47px;
  height: 77px;
  transform: translate(-50%, -50%);
  top: 49%;
  left: 0.8%;
  flex-direction: column;
  border-radius: 10px;
  transform: scale(1);
}

svg circle {
  stroke: #F06292;
  /* filter: drop-shadow(0 0 0.25rem #F06292); */
  stroke-width: 6;
  stroke-opacity: 1;
  fill: #36353a;
  stroke-dasharray: 60 40;
  stroke-dashoffset: 0;
  border-radius: 10px;
  /* clip-path: polygon(10% 10%,90% 10%,90% 90%,10% 90%); */
}

.textbox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 33px;
  height: 15px;
  background-color: #1f1f1f;
  border-radius: 5px;
  bottom: -15%;
  left: 50%;
  font-weight: bold;
  font-family: Kanit;
  font-size: 1.5ch;
  color: aliceblue;
}

.icon {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 57%;
  left: 50%;
  font-size: 15px;
  color: aliceblue;
}

.icon2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 57%;
  left: 50%;
  font-size: 18px;
  color: aliceblue;
}

.mainminaa {
  position: relative;
  width: 47px;
  height: 77px;
  transform: translate(-50%, -50%);
  top: 52%;
  left: 85.5%;
  flex-direction: column;
  margin-right: 7px;
  transform: scale(1.9);
  transition: .3s ease;
}

svg circle2 {
  stroke: #F06292;
  /* filter: drop-shadow(0 0 0.25rem #F06292); */
  stroke-width: 69;
  stroke-opacity: 1;
  fill: #36353a;
  stroke-dasharray: 60 40;
  stroke-dashoffset: 0;
  transition: .3s ease;
}

@keyframes blickon {
  0%    { opacity: 0; }
  20%   { opacity: 1; }
  80%   { opacity: 0; }
  100%  { opacity: 1; }
}


@keyframes blickoff {
  0%    { opacity: 1; }
  100%   { opacity: 1; }
}

.bar-tick {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 60%;
  line-height: 15px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  z-index: 999;
}

.bar-tick div {
  border-right: solid .2vh rgba(31,31,31,0.5);
}

.bar-tick div:last-child {
  border-right: none;
}

.border {
  bottom: 7.9%;
  left: 1.3%;
  width: 0%;
  text-align: center;
}

.square {
  bottom: 6.30%;
  left: 1.39%;
  width: 29vh;
  height: 18.5vh;
  border: 4px solid #F06292;
  position: absolute;
  display: inline-block;
}

#clockdate {
  margin: 0 auto;
  margin-top: 80vh;
  left: 133vh;
  z-index: 1;
  position: absolute;
}

.clockdate-wrapper {
  max-width: 350px;
  max-height: 30px;
  text-align:center;
  /* border-radius:10px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin:0 auto;
  font-weight: bold;
  background: #242424;
}
#clock{
  font-family: Kanit;
  font-size: 1.8vh;
  color:#e6658f;
  /* background: #242424;
  border-radius: 10px; */
}
/* #clock span {
  color:#e6658f;
  font-size: 1.5vh;
  position:relative;
  top:-5px;
  left:1px;
} */
#date {
  font-family: Kanit;
  font-size: 2vh;
  color:#e6658f;
}